.page.theme_dark {
  --page-background-color: var(--color-black-primary, #000028);
  --page-background-image: url('../images/cover-image-dark.png');
  --decorative-element-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background-color: var(--color-black-primary, #000028);
    --page-background-image: url('../images/cover-image-dark.png');
    --decorative-element-visibility: visible;
  }
}
