.page.theme_light {
  --text-primary-color: var(--color-black-secondary, #353430);
  --accent-color: var(--color-pink-bright, #ff8dcb);
  --brand-primary-color: var(--color-pink-muted, #ffc2e6);
  --highlight-color: var(--color-black-secondary, #353430);
  --secondary-color: var(--color-black-secondary, #353430);
  --secondary-opacity: var(--color-black-secondary-opacity, #35343040);

  --page-background-color: var(--color-pink-light, #fff1f7);
  --page-background-image: url('../images/cover-image-light.png');

  --decorative-element-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-primary-color: var(--color-black-secondary, #353430);
    --accent-color: var(--color-pink-bright, #ff8dcb);
    --brand-primary-color: var(--color-pink-muted, #ffc2e6);
    --highlight-color: var(--color-black-secondary, #353430);
    --secondary-color: var(--color-black-secondary, #353430);
    --secondary-opacity: var(--color-black-secondary-opacity, #35343040);

    --page-background-color: var(--color-pink-light, #fff1f7);
    --page-background-image: url('../images/cover-image-light.png');

    --decorative-element-visibility: hidden;
  }
}
